.advisor-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #ff5f6d, #ffc371);
    box-sizing: border-box;
  }
  
  .advisor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #fff;
    background-color: transparent; 
  }
  
  .advisor-name-box {
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .advisor-signout {
    font-size: 1rem;
    font-weight: bold;
    background-color: #ff6f6e;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right: 1rem;
  }
  
  .advisor-signout:hover {
    color: #ffffff;
  }
  
  
  .advisor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    height: calc(100vh - 6rem);
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .hp-container {
    height: 80%;
    min-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .advisor-section {
    width: 47vw;
    min-width: 500px;
    height: 45vh;
    min-height: 500px;
    background-color: #1a1c2c;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #ffe9ec;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow: hidden;
  }
  
  .adv-input {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
  }
  
  .adv-scores {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .adv-button {
    background-color: #eec7b3;
    width: 150px;
    height: 50px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .graph-placeholder {
    width: 100%;
    margin-top: .4rem;
    height: 85%;
    background-color: #2e3a59;
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #ddd;
  }
  
  .advisor-card {
    background-color: #2e3a59;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    height: 15%;
    min-height: 50px;
    width: 90%;
    min-width: 90%;
    
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background 0.2s ease;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .advisor-card:hover {
    background-color: #3b486c;
  }
  
  .card-name {
    font-weight: bold;
    flex: 1;
    color: #ffe9ec;
  }
  
  .card-score {
    flex-shrink: 0;
    color: #ffc371;
  }
  
  .card-date {
    flex-shrink: 0;
    font-size: 0.9rem;
    color: #ccc;
  }
  

  .advisor-section-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffe9ec;
  }
  

  .search-dropdown {
    background-color: #1a1c2c;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 150px;
    overflow-y: auto;
  }
  
  .search-option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #ffe9ec;
  }
  
  .search-option:hover {
    background-color: #2e3a59;
  }

  .search-input {
    margin-top: 2rem;
    margin-bottom: 1rem; /* adds spacing between each input */
    padding: 0.7rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    color: #7d7c85;
  }
  
  .graph-settings {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  
  .graph-column {
    margin-top: 2.0rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #bfc4d1;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 2rem;
    color: #1a1c2c;
  }
  
  button {
    margin-top: 1rem;
    background-color: #eee9ed;
    color:#000000

  }
  
  .generate-graph-button {
    margin-top: 5.0rem;
    height: 50%;
    background-color: #eee9ed;
    color: #1a1b1f;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
    margin-left: 0.8rem;
  }
  
  .generate-graph-button:hover {
    background-color: #5a3257;
  }