
.lin{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
        #0f0c29 0%,
        #0f0c29 10%,   
        #302b63 30%,   
        #ff5f6d 60%,    
        #ffc371 100%    
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
indigo: #1a1c2c
 beige: #eec7b3
 navy: 	#2e3a59
*/
.lin-card {
    height: 45vh;
    width: 40vw;
    min-width: 700px;
    background-color: #1a1c2c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}
.lin-card-tall {
    height: 70vh;
    min-height: 70vh;
    width: 40vw;
  }

.lin-card-header {
    font-size: xx-large;
    font-weight: bold;
    color: #ffe9ec;
}

.lin-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.lin-card-body-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 30vh;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.lin-input {
    width: 40%;
    height: 6vh;
    min-height: 50px;
    margin: 1vh;

}
.lin-submit {
    background-color: #eec7b3;
    margin: 2vh;
    width: 150px;
    height: 50px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-button {
    position: absolute;
    width: 5vw;
    height: 5vh;
    top: 1rem; 
    left: 1rem;
    font-size: 0.875rem; 
    text-decoration: underline;
    color: #ffe9ec;  
    background-color: #ffc371;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.lin-button {
    background-color: #eec7b3;
    margin: 2vh;
    width: 40%;
    height: 10vh;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.radio-text {
    color: #ffe9ec;
}

.lin-button:hover {
    background-color: #ddb3a0;
}

/*THIS IS FOR THE FORMPAGE TEXTBOX NOT LOGIN*/
 .lin-textarea {
     width: 100%;
     height: 400px;
     padding: 1rem;
     font-size: 1rem;
     line-height: 1.5;
     background-color: #ffffff;
     color: #050505;
     border-radius: 0.5rem;
     border: none;
     resize: none;
     box-sizing: border-box; 
   }