.snt{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
        #0f0c29 0%,
        #0f0c29 10%,   
        #302b63 30%,   
        #ff5f6d 60%,    
        #ffc371 100%    
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.snt-card {
    height: 65vh;
    min-height: 65vh;
    width: 40vw;
    min-width: 700px;
    background-color: #1a1c2c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.snt-card-header {
    font-size: large;
    font-weight: bold;
    color: #ffe9ec;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 10vh;
}
.snt-card-footer {
    font-size: large;
    font-weight: bold;
    color: #ffe9ec;
    height: 10vh;
    min-height: 10vh;
}
.snt-card-footer .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snt-button {
    background-color: #eec7b3;
    width: 150px;
    height: 50px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.snt-submit {
    background-color: #ff6f6e;
    width: 150px;
    height: 50px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.snt-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-height: 40vh;
    height: 40vh;
    min-height: 60%;
    align-items: center;
    justify-content: center;
    color: #ffe9ec;
    overflow: hidden;
}

.snt-card-center {
    width: 100%;
    height: 45vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.snt-desc-text {
    color: #ffe9ec;
    font-size: x-large;
    margin-bottom: 5%;
}

.snt-desc-text-small {
    color: #ffe9ec;
    font-size: large;
    margin-bottom: 2%;
}