.student-page-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #ff5f6d, #ffc371);
    box-sizing: border-box;

    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2rem;
  }
  
  .submission-column {
    background-color: #1a1c2c;
    color: #ffe9ec;
    font-size: 1.6;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 40%;
    height: 80%;
    overflow-y: auto;
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;

  }
  
  .submission-card {
    background-color: #2e3a59;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .student-header-box {
    position: absolute;
    top: 2rem;
    text-align: center;
    width: 100%;
    color: #ffe9ec;
    font-size: 2rem;
    font-weight: bold;
  }

  .return-link {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1rem;
    color: #ffe9ec;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .return-link:hover {
    color: #ffffff;
  }
  
  .special-column {
    background-color: #34495e;
  }
  
  .score-card:hover {
    background-color: #3e5a78;
  }
  
  .submission-card:hover {
    background-color: #3b486c; 
    transition: background-color 0.2s ease;
  }
  