.transition-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #ff5f6d, #ffc371);
    box-sizing: border-box;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .transition-box {
    background-color: #1a1c2c;
    padding: 2rem;
    border-radius: 1rem;
    color: #ffe9ec;
    width: 70%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  

  .transition-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .transition-subtext {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ddd;
  }
  
  .transition-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

